<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright 2012-2013 Tony Atkins <duhrer@gmail.com>. All rights reserved.

    Redistribution and use in source and binary forms, with or without modification, are
    permitted provided that the following conditions are met:

       1. Redistributions of source code must retain the above copyright notice, this list of
          conditions and the following disclaimer.

       2. Redistributions in binary form must reproduce the above copyright notice, this list
          of conditions and the following disclaimer in the documentation and/or other materials
          provided with the distribution.

    THIS SOFTWARE IS PROVIDED BY Tony Atkins ''AS IS'' AND ANY EXPRESS OR IMPLIED
    WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
    FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL Tony Atkins OR
    CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
    CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
    SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
    ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
    NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
    ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

    The views and conclusions contained in the software and documentation are those
    of the authors and should not be interpreted as representing official policies,
    either expressed or implied, of the FreeBSD Project.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blogspot.tonyatkins.freespeech"
    android:versionCode="121"
    android:versionName="1.21" >

    <uses-sdk android:minSdkVersion="9" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".activity.StartupActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ViewBoardActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activity.CacheControllerActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activity.EditButtonActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.EditTabActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ColorPickerActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activity.KeyboardActivity"
            android:label="@string/keyboard_activity_label"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activity.PreferencesActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="com.blogspot.tonyatkins.freespeech.action.PREFS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SortButtonsActivity"
            android:label="@string/sort_buttons_activity_label"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activity.SortTabsActivity"
            android:label="@string/sort_tabs_activity_label"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activity.ToolsActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activity.MoveButtonActivity"
            android:label="@string/move_activity_label"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/about_activity_label"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activity.ExceptionCatcherActivity"
            android:label="@string/exception_catcher_activity_label"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:label="@string/feedback_activity_label"
            android:theme="@android:style/Theme.Dialog" />

        <!--
				Sound Recorder activity, which requires the following external library project:
				https://bitbucket.org/duhrer/android-sound-recorder-library
        -->
        <activity
            android:name="com.blogspot.tonyatkins.recorder.activity.RecordSoundActivity"
            android:exported="false"
            android:icon="@drawable/icon"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.provider.MediaStore.RECORD_SOUND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--
             File picker activity, which requires the following external library project:
			https://bitbucket.org/duhrer/android-file-picker-library
        -->
        <activity
            android:name="com.blogspot.tonyatkins.picker.activity.FilePickerActivity"
            android:icon="@drawable/icon"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.blogspot.tonyatkins.picker.action.FILE_PICKER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="com.atlassian.jconnect.droid.service.RemoteFeedbackService" />
        <service android:name="com.atlassian.jconnect.droid.service.FeedbackPollingService" />
        <service
            android:name=".service.CacheUpdateService"
            android:enabled="true"
            android:exported="false"
            android:label="@string/cache_service_controller_label" />
    </application>

</manifest>